<html>
  <head>
    <style>
        .body{
            text-align: center;
            padding-top: 50px;
            padding-right: 50px;
        }
    </style>

</head>

<body style="font-size: 20px;">
    <h2 style="text-align:center">DISPLAY</h2>
    <div class="body">
    <body>
        <center>
            <body class="center" >
        <table border>
            <tr>
              <th>LaptopName</th>
              <th> OS</th>
              <th> Price</th>
              <th> Processor</th>
              <th> RAM</th>
            </tr>
            {%  for row in rt  %}
            <tr>
                {% for col in row %}
                  <td>{{col}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        </div>
    </body>
</html>